* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
.li-head :hover {
  color: rgb(179, 176, 176);
}
.quit {
  color: rgb(255, 255, 255);
}
.quit :hover {
  color: rgb(179, 176, 176);
}
.l1 {
  background-repeat: no-repeat;
  background-image: url(/img/background.png);
  background-size: cover;
  min-height: 100vh;
}
.back {
  width: 701px;
  height: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: right;
  background-image: linear-gradient(to bottom right, #1d0101, #312f2f, #1d0101);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(136, 11, 11);
}
.back p {
  color: #aae924;
  font-weight: 500;
  font-size: 16pt;
  margin-top: 135px;
  margin-right: 40px;
}
.container {
  padding: 60px 0;
  background-color: black;
  width: 369px;
  height: 369px;
  background-image: url(/img/back-login.jpg);
  /* margin: 149px auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.title {
  width: auto;
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}
.container input[type="text"],
.container input[type="username"],
.container input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ecd2d2;
  padding: 10px 10px;
  font-size: small;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type="text"]:focus,
.container input[type="username"]:focus,
.container input[type="password"]:focus {
  width: 210px;
  border-color: #2ecc71;
}
.container input[type="submit"] {
  border: 0;
  background: #1a1515;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1a1515;
  padding: 4px 20px;
  font-size: small;
  outline: none;
  color: #cbe527;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type="submit"]:hover {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  background: white;
  padding: 4px 20px;
  font-weight: 300;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.brand {
  color: #ffffff;
  font-weight: 500;
  font-size: 14pt;
  height: 0;
  margin-left: 5px;
}
.user {
  color: #ffffff;
  font-weight: 300;
  font-size: 12pt;
  height: 0;
  text-decoration: none;
  cursor: pointer;
}
.list-inline {
  margin: 0;
  margin: 10px 0;
  width: 150px;
}
.background {
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 10px 0;
  background: rgba(80, 80, 80, 0.66);
  /* background: rgba(56, 55, 55, 0.66); */
  text-align: center;
  margin: 16px auto 30px auto;
  border-radius: 6px;
}
.canvas-2 {
  display: block;
  z-index: -1;
  align-items: center;
  width: 70%;
  height: auto;
  background: rgba(80, 80, 80, 0.66);
  /* background: rgba(56, 55, 55, 0.66); */
  text-align: center;
  margin: 16px auto 30px auto;
  border-radius: 6px;
}
.menu-list {
  display: inline;
  padding: 2px;
}
.menu-list a {
  text-decoration: none;
}
.menu-list-title {
  font-size: 14px;
  padding: 0 20px;
  color: #a3a3a3;
}
.active {
  font-size: 15px;
  color: white;
}
.menu-list-title:hover {
  padding: 0 20px;
  color: white;
  background-color: #232923;
  cursor: default;
  border-radius: 10px;
  transition: 0.25s;
}
.active:hover {
  font-size: 15px;
  color: white;
}
.line {
  border-left: 1px solid #808080;
  display: inline;
  height: 22px;
  width: 0px;
  margin: 0;
  padding: 0;
}
.back-text {
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232923;
  height: 30px;
  border-radius: 14px;
}
.text {
  font-size: 16px;
  color: white;
  margin: 0;
}
.status {
  margin: 0 40px 40px 40px;
  padding-top: 40px;
}
.backg {
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans";
  width: 100%;
  height: auto;
  padding: 0 20px;
  border-radius: 6px;
}

.waiting {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.on-progress {
  --bg-color: #3b9cd4;
  --bg-color-light: #44b1f0;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(137, 170, 212, 0.48);
}

.hold {
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.finish {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: rgb(39, 4, 4);
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.cancel {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #404949;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.notyet {
  --bg-color: #3b9cd4;
  --bg-color-light: #44b1f0;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(137, 170, 212, 0.48);
}

.pending {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: rgb(39, 4, 4);
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.complete {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #494141;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
  width: 146px;
  height: 200px;
  background: rgba(214, 214, 214, 0.55);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  margin: 10px 5px 10px 5px;
  text-decoration: none;
}
.cards {
  width: 250px;
  height: 170px;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  text-decoration: none;
}

.card:hover .overlay {
  transition: 0.9s;
  transform: scale(7) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
  font-weight: 600;
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 12pt;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}
.circle p {
  font-size: 40px;
  color: #4c5656;
}
.circle:after {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 90px;
  position: absolute;
  height: 90px;
  border-radius: 50%;
  background: var(--bg-color);
  top: -50px;
  right: -50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
.overlays {
  top: 90%;
  width: 70px;
  height: 70px;
  right: auto;
  left: auto;
}
.quantity {
  font-size: 45pt;
}
.space {
  cursor: default;
  width: 100%;
  height: 30px;
}
.dot {
  color: antiquewhite;
  font-size: 60px;
  font-weight: 500;
}
.footer {
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
  height: 76px;
  background: rgba(0, 0, 0, 0.9);
}
.foot1 {
  color: rgb(240, 240, 240);
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 0 0;
  text-align: center;
}
.foot2 {
  color: rgb(209, 209, 209);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.lay {
  width: 100%;
  height: 100%;
  padding: 15px 28px 0 28px;
}
.table {
  width: 100%;
}
.attr {
  color: rgb(233, 233, 233);
  font-size: 10pt;
  background-color: rgb(2, 46, 46);
}
.dataTables_wrapper {
  color: white;
  font-size: 11pt;
  letter-spacing: 0.5px;
  font-family: "Raleway", sans-serif;
}
.page-link {
  color: #1a1515;
  font-weight: 600;
}
.page-item.disabled .page-link {
  color: #494646;
}
.dataTables_wrapper .dataTables_length select {
  width: auto;
  display: inline-block;
  border-style: none;
  color: white;
  background-color: teal;
}
.dataTables_wrapper .dataTables_filter label {
  margin-left: -8%;
}
.dataTables_wrapper .dataTables_filter input {
  border-width: 2px;
  border-color: teal;
  color: white;
  font-weight: 400;
  background: none;
  width: 70%;
}
.page-item.active .page-link {
  background-color: teal;
  border-color: teal;
}
.table-dark {
  color: #fff;
  font-size: 10pt;
  background-color: #343a40;
}
.btn {
  font-size: 9pt;
  padding: 3px 5px;
}
.pin {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
}
.pins {
  cursor: default;
  font-weight: 600;
  font-size: 8pt;
  letter-spacing: 1px;
}
.badge {
  cursor: default;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 7pt;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgb(51, 47, 47);
}
.add {
  border-color: white;
  color: white;
  border-width: 2px;
  width: 100%;
  font-weight: 600;
  padding: 5px 0;
  margin-bottom: 10px;
}
.adds:hover {
  text-decoration: none;
  color: #1a1515;
}
.form-label {
  color: #f1f1f1;
  font-size: 11pt;
  margin-top: 10px;
}
.fc {
  color: #b8f9d3;
  font-size: 10pt;
  border: none;
  background-color: rgb(0, 78, 78);
  margin-bottom: 5px;
}
.fc:focus {
  color: #b8f9d3;
  font-size: 11pt;
  box-shadow: 1px 1px 6px rgb(31, 31, 31);
  background-color: rgb(0, 75, 75);
}
.fc:disabled,
.fc[readonly] {
  background-color: rgb(0, 156, 156);
  opacity: 1;
}
/* hide arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* end */
/* Style validation */
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #9b8925;
}
/* end */
.add-back {
  color: #b8f9d3;
  margin-top: 10px;
  margin-bottom: 15px;
}
.plus {
  margin-left: auto;
  margin-right: auto;
  float: right;
  font-weight: 600;
  padding: 5px 40px;
}
.add-back-text {
  margin-left: 10px;
  font-size: 14pt;
  font-weight: 600;
}
.form-text {
  color: yellow;
  font-size: 9pt;
  float: right;
}
.center {
  padding: 0 10%;
}
.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.box {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.right {
  /* margin: 0rem auto 4rem auto; */
  background-color: #1a1b1a;
  margin: 0 auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
  width: 100%;
  /* max-width: 500px; */
}
.right .borders {
  /* background: $color_pink3; */
  width: 100%;
  margin-bottom: 1.5rem;
  border: none;
}
.left-box .detail-box {
  background-color: #232923;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
  border-radius: 5px;
  position: sticky;
  /* sticky experimental tech still */
  top: 1rem;
}
.left-box p {
  color: #b8f9d3;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  /* min-width: 400px; */
}
.add-team {
  margin-top: 10px;
  padding: 0;
  color: #b8f9d3;
}
.add-team-text {
  margin-left: 10px;
  font-size: 14pt;
  font-weight: 600;
}
.btn-addteam {
  color: #b8f9d3;
  float: right;
  padding: 5px 10px;
}
.btn-addteam:hover {
  transition: 0.5s;
  color: #5d78c0;
}
.date-project {
  width: 100%;
  margin: 0 0.05rem;
}
.back-date {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: fit-content;
  height: auto;
  padding: 0 2%;
  background-color: teal;
}
.back-date-dead {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  width: fit-content;
  height: auto;
  padding: 0 2%;
  background-color: teal;
}
.date-text {
  margin: auto 0;
  padding: 5px 0;
  text-align: center;
  color: #ffffff;
  font-size: 10pt;
}
.date {
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 9pt;
  letter-spacing: 1px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: fit-content;
}
.grid p {
  background-color: #1b201b;
  color: white;
  padding: 8px 10px;
  margin-bottom: 2px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.grid span {
  background-color: #1b201b;
  padding: 8px 10px;
  color: #b8f9d3;
  margin-bottom: 2px;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.name {
  color: #b8f9d3;
}
.name-text {
  line-height: 1.5rem;
  color: #b8f9d3;
  margin-left: 10px;
  font-size: 11pt;
}
.post-text {
  text-align: right;
  color: #b8f9d3;
}
.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: fit-content;
}
#back-team {
  margin-top: 10px;
  padding: 10px;
  background-color: #1b201b;
  width: 100%;
  border-radius: 5px;
}
.inner {
  margin: 15px;
  width: auto;
  height: 20px;
}

*/ .act {
  color: white;
  margin-bottom: 10px;
}
.det-action {
  color: #b8f9d3;
}
.act-l {
  margin-top: -2rem;
  float: left;
}
.act-r {
  margin-top: -2rem;
  float: right;
}
.act-l:hover {
  transition: 0.5s;
  color: #5d78c0;
}
.act-r:hover {
  transition: 0.5s;
  color: #b97b33;
}
/*  */
.modal-backdrop {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal.fade .modal-dialog {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: 10000000;
}
.modal-content {
  background-color: #151518;
}
.close span {
  color: white;
  font-weight: 600;
}
.act-modal {
  padding: 5px 10px;
}

.text-danger {
  color: #dc3545 !important;
  font-size: 10pt;
}

option:first {
  color: #999;
}

.menu-detail ul {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.menu-detail ul li {
  background-color: #004242;
  text-align: center;
  min-width: 80px;
  font-size: 9pt;
  margin: 0 -1px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
}

.menu-detail ul li a {
  color: #b8f9d3;
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
.menu-detail ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ffffff;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.menu-detail ul li a:hover {
  color: #ffffff;
}
.menu-detail ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu-detail ul .actived {
  font-weight: 600;
  background-color: #003030;
}

.menu-detail ul li:hover {
  transition: 1s;
  background-color: #003030;
}

.detail-row p {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

.detail-row .l {
  width: 100%;
  line-height: 1.5rem;
  margin-left: 10px;
  font-weight: 600;
  font-size: 12pt;
}

.detail-row .r {
  color: #cecece;
  border-color: rgb(255, 255, 255);
  padding-left: 10%;
  width: 100%;
  font-size: 12pt;
}

.back-detail {
  padding: 20px 8% 20px 8%;
  margin: 0 auto 10px auto;
  max-width: 1000px;
  border-radius: 5px;
  background-color: #1b201b;
  width: 100%;
  height: fit-content;
}

.line-horizontal {
  width: 100%;
  margin-top: 5px;
  background-color: rgb(77, 69, 69);
  height: 1px;
}

.enter {
  padding: 10px;
  width: 100%;
}

.white {
  margin-right: 3%;
  color: #b8f9d3;
}
.icon-edit-member {
  margin: 0 5px;
  color: rgb(146, 190, 255);
}

.icon-edit-member:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.icon-del-team {
  margin: 0 5px;
  color: rgb(255, 149, 62);
}

.icon-del-team:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.fa-lg {
  padding: 5px 0 0 0;
}

/* Hide and Show */
.back-rab {
  padding: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background-color: #131618;
}
.sub {
  color: #b8f9d3;
}
.date-rab {
  margin-left: 15px;
  font-size: 10pt;
}
.amount-day {
  font-size: 10pt;
}
.sub-sub {
  color: #b8f9d3;
}
.add-rab {
  color: white;
}
.add-rab:hover {
  color: rgb(169, 155, 248);
}
.detail-rab tbody tr td {
  font-size: 9pt;
}
.no {
  color: rgb(182, 255, 47);
  font-size: 10pt;
  text-align: center;
}

/* show and hide table-rab*/
.btn-container {
  display: flex;
  position: relative;
}
.btn-container i {
  position: absolute;
}
#hide {
  display: none;
  color: white;
}
#show {
  color: white;
}

.detail-rab {
  transform-origin: top center;
  animation: rotateX 1000ms ease-in-out forwards;
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deq);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.row.total .col p {
  margin: 0;
  color: #d0f886;
  font-size: 10pt;
}

.category-rab {
  color: white;
  font-weight: 600;
  font-size: 13pt;
}

.act-rab {
  text-align: center;
}

/* comment */
.layer-comment {
  padding: 0.5rem;
}

.back-massage {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background: #070707;
  border-radius: 10px;
}
.back-massage p {
  margin: 0;
}
.back-massage .txt-comment {
  font-size: 9pt;
  position: relative;
}
.text-comment {
  color: white;
  font-size: 9pt;
}
.back-massage .txt-name {
  margin-top: 3px;
  position: relative;
  font-size: 9pt;
  font-weight: 600;
  color: #8b8b90;
}

.fromThem .txt-date {
  position: relative;
  color: #7a7a80;
  font-weight: 300;
  font-size: 8pt;
  margin: 0 3px 0 3px;
}

span.txt-time {
  position: relative;
  color: #8f8181;
  font-weight: 300;
  font-size: 8pt;
  margin: 0 3px 0 3px;
}

.layer-comment:hover {
  transform: translateY(18px);
  transition-duration: 500ms;
  -webkit-transform: translateY(18px);
}

.chat * {
  transition: all 0.5s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.chat {
  margin: 0;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.chat span.spinner {
  -moz-animation: loading-bar 1s 1;
  -webkit-animation: loading-bar 1s 1;
  animation: loading-bar 1s 1;
  display: block;
  height: 2px;
  background-color: #00e34d;
  transition: width 0.2s;
  z-index: 0;
}

.chat .messages {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
  width: 100%;
}

.chat ::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  transition: all 0.5s;
}
.chat ::-webkit-scrollbar-track {
  background-color: none;
}

.chat .message {
  display: block;
  width: 100%;
  padding: 5px 10px;
}

.chat .message p {
  margin: 0;
}

.chat .fromThem {
  max-width: 100%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.fromThem {
  padding: 10px 20px;
  color: white;
  width: 100%;
  border-radius: 10px;
  clear: both;
  font: 400 15px "Open Sans", sans-serif;
}

.chat .fromThem {
  background: #070707;
  color: white;
  clear: both;
}
.chat .date {
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
}

.chat .fromThem .date {
  right: 105%;
}

.chat .fromThem {
  font-size: 12px;
}

.chat .message .fromThem:hover {
  transform: translateY(18px);
  -webkit-transform: translateY(18px);
}

.chat .fromThem .date {
  top: -20px;
  left: auto;
  right: 0;
  font-size: 12px;
}

.chat .fromThem {
  max-width: 100%;
}

.myMessage {
  padding: 10px 20px;
  color: white;
  width: 100%;
  border-radius: 10px;
  clear: both;
  font: 400 15px "Open Sans", sans-serif;
}

.chat .myMessage {
  background: #151518;
  color: white;
  clear: both;
}

.chat .myMessage {
  font-size: 12px;
  max-width: 100%;
}

.chat .myMessage .date {
  top: -20px;
  left: auto;
  right: 0;
  font-size: 12px;
}

.chat .myMessage {
  max-width: 100%;
}

.sends {
  width: 40px;
  background: #070707;
  border: none;
}
/* end */
/* Cost and Transaction */

.complete-bedge {
  color: #cdccff;
}

.incomplete-bedge {
  color: #d5d682;
}

.complete-bedge span {
  margin-left: 5px;
  font-size: 9pt;
  font-weight: 600;
}

.incomplete-bedge span {
  margin-left: 5px;
  font-size: 9pt;
  font-weight: 600;
}

/* Animation */
.anim {
  transform-origin: top center;
  animation: rotateX 1000ms ease-in-out backwards;
}

.table-responsive ul {
  cursor: pointer;
}
